*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

nav{
    display: flex;
    justify-content:space-between;
    /* border: 1px solid rgb(67, 190, 67); */
    align-items: center;/*add line*/
    background-color: #ffffff;
    padding: 15px;
    
}

.logo a {
    text-decoration: none;
    color: #054bb4;
    font-weight: bold;
    font-size: 15px;
    justify-content: center;
}
.menu{
    display: flex;
    list-style: none;
    
    
}
.menu li{
    margin-left: 30px;
}
.menu li a {
    text-decoration: none;
    color: #5d6169;
    font-size: 15px;
}
.banner {
  background-image: url(https://img.freepik.com/free-photo/3d-view-puzzle-pieces_23-2150499131.jpg?w=1060&t=st=1707963856~exp=1707964456~hmac=70dbdf7566422dccf25f468ad0c99e17ecc6eb8699b476eb1cd89c9952bf02ff);
  background-size: 100%;
  background-repeat: no-repeat;  
  height: 650px;
  width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner2 {
  background-color: #658cc2;
  background-repeat: no-repeat;  
  height: 650px;
  width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}